.logon-container{
    width: 100%;
    max-width: 1128px; 
    height: 100vh;/*altura toda do corpo */
    margin: 0 auto; /* conteudo sempre centralizado*/

    display: flex;  /* facil para fazer alinahmentos -itens ficam um ao lado do outro*/
    align-items: center; /* alinha itens verticalmente ao centro */
    justify-content:space-between; /* alinha itens horizontalmnete ao centro */
}

.logon-container section.form{

    width: 100%;
    max-width: 350px; /*responsividade*/
    margin-right: 30px;
}

.logon-container section.form form{
    margin-top: 100px;
}

.logon-container section.form form h1{
    font-size: 32px;
    margin-bottom: 32px;
}

